body {
  text-align:center;
  background-image:url("http://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg");


}

#list {
    list-style-type:none;
}

.jumbotron {
 color:white;
 background-color:#78AB46;
}
